<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-10-08T13:24:35Z</date>
	<key>WorkspacePath</key>
	<string>/Users/danilsovinskii/Documents/less2/Rune/Rune.xcodeproj</string>
</dict>
</plist>
